Django==1.8.2
django-precise-bbcode==1.0.4
xhtml2pdf==0.0.6
html5lib==1.0b8
django-app-namespace-template-loader==0.3

# Décommenter pour installer le support PostgreSQL
#psycopg2==2.5.2

# Décommenter pour Python-2.6
#importlib==1.0.3

# Décommenter pour le support de runfcgi
#flup==1.0.2
