
.icon-briefcase:before { content: '\e800'; } /* '' */
.icon-graduation-cap:before { content: '\e801'; } /* '' */
.icon-aperture:before { content: '\e802'; } /* '' */
.icon-paper-plane:before { content: '\e803'; } /* '' */
.icon-gamepad:before { content: '\e804'; } /* '' */
.icon-bicycle:before { content: '\e805'; } /* '' */
.icon-video:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-mail-alt:before { content: '\e808'; } /* '' */
.icon-link:before { content: '\e809'; } /* '' */
.icon-phone:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-home:before { content: '\e80c'; } /* '' */
.icon-file-pdf:before { content: '\e80d'; } /* '' */
.icon-vcard:before { content: '\e80e'; } /* '' */
.icon-linkedin-squared:before { content: '\e80f'; } /* '' */
.icon-viadeo:before { content: '\e810'; } /* '' */